@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    background-color: black;
}

.rotate-45 {
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    margin: 90px;
    border-top: 35px solid #f86031;
    border-bottom: 35px solid #03a9f4;
    border-right: 35px solid #ebd8d2;
    border-left: 35px solid #bbdefb;
}

p {
    transform: rotate(-45deg);
}
.para {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
.para1 {
    color: white;
    font-size: 15px;
    font-family: "Roboto";
    margin-top: 20px;
}
.bg-container {
    background-color: black;
    height: 50vh;
}
span {
    color: #f86031;
}
